[submodule "bitacoras/vivilynx"]
	path = bitacoras/vivilynx
	url = https://github.com/vivilynx/Objeto
[submodule "bitacoras/JorgeArancibiaaa4"]
	path = bitacoras/JorgeArancibiaaa4
	url = https://github.com/JorgeArancibiaaa4/472499-objeto-bitacora
[submodule "bitacoras/Javiera-Diethelm"]
	path = bitacoras/Javiera-Diethelm
	url = https://github.com/Javiera-Diethelm/472499-objeto-bitacora
[submodule "bitacoras/isafrgmz"]
	path = bitacoras/isafrgmz
	url = https://github.com/isafrgmz/472499-objeto-bitacora
[submodule "bitacoras/Luciana1010101001010"]
	path = bitacoras/Luciana1010101001010
	url = https://github.com/Luciana1010101001010/Tecnolog-a-aplicada
[submodule "bitacoras/constanzaperez1"]
	path = bitacoras/constanzaperez1
	url = https://github.com/constanzaperez1/472499-objeto-bitacora
[submodule "bitacoras/ansofivv"]
	path = bitacoras/ansofivv
	url = https://github.com/ansofivv/472499--objeto-bitacora
[submodule "bitacoras/lisseth9895"]
	path = bitacoras/lisseth9895
	url = https://github.com/lisseth9895/472499-objeto-bitacora
[submodule "bitacoras/anaizvargas"]
	path = bitacoras/anaizvargas
	url = https://github.com/anaizvargas/472499-objeto.bitacora
[submodule "bitacoras/JazHachi"]
	path = bitacoras/JazHachi
	url = https://github.com/JazHachi/472499-Objeto-Bitacora
[submodule "bitacoras/alondraarcos-jpg"]
	path = bitacoras/alondraarcos-jpg
	url = https://github.com/alondraarcos-jpg/472499-objeto-bitacora
[submodule "bitacoras/ozmental"]
	path = bitacoras/ozmental
	url = https://github.com/ozmental/472499-objeto-bitcora
[submodule "bitacoras/SvtrWilly"]
	path = bitacoras/SvtrWilly
	url = https://github.com/SvtrWilly/TECNOLOG-A-APLICADA---OBJETO
[submodule "bitacoras/JSNorambuena"]
	path = bitacoras/JSNorambuena
	url = https://github.com/JSNorambuena/472499-objeto-bitacora
[submodule "bitacoras/Mvnafv"]
	path = bitacoras/Mvnafv
	url = https://github.com/Mvnafv/472499--objeto-bitacora
